# Dependencies
node_modules/
.pnp
.pnp.js
jspm_packages/
bower_components/

# Build output
build/
dist/
.next/
.nuxt/
.cache/
.serverless/

# Coverage / reports
coverage/
*.lcov
.nyc_output/
reports/
ctrf/

# Caches
.eslintcache
*.tsbuildinfo
.npm/
.parcel-cache/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Environment / secrets
.env
.env.*.local
env-config.js
secret-config.js
query.sbom.json

# OS / editor
.DS_Store
.idea/
.vscode/

# Helm chart automation
.dev/metadata-updater.py
.dev/readme-generator-for-helm

# Output of npm pack
*.tgz

# Yarn integrity file
.yarn-integrity
