name: test-feature-branch.yml
run-name: Test Feature Branch

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  quality:
    name: Run unit tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Yarn Prepare
        uses: telicent-oss/shared-workflows/.github/actions/yarn-prepare@main
        with:
          node-version: 20
          additional-args: '--network-timeout 600000'
      - name: Run tests
        run: yarn test --coverage --coverage-reporters json-summary --coverage-reporters text-summary
        shell: bash
      - name: Jest Coverage Comment
        uses: MishaKav/jest-coverage-comment@main
