name: test-feature-branch.yml
run-name: Test Feature Branch

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  quality:
    name: Run unit tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Prepare Yarn
        uses: telicent-oss/shared-workflows/.github/actions/yarn-prepare@main
        with:
          node-version: 20
          additional-args: '--network-timeout 600000'
      - name: Run tests
        run: yarn test 2>&1 | tee ${{ runner.temp }}/test_output.txt
        shell: bash
      - name: Test results summary
        if: always()
        shell: bash
        run: |
          echo "# Test Results Summary" >> $GITHUB_STEP_SUMMARY
          cat ${{ runner.temp }}/test_output.txt >> $GITHUB_STEP_SUMMARY

