name: test-feature-branch.yml
run-name: Test Feature Branch

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  quality:
    name: Run unit tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Yarn Prepare
        uses: telicent-oss/shared-workflows/.github/actions/yarn-prepare@main
        with:
          node-version: 20
          additional-args: '--network-timeout 600000'
      - name: Run tests
        run: yarn test --coverage --reporters=default --reporters=jest-ctrf-json-reporter
        shell: bash
      - name: XXX
        run: ls ./ctrf
        shell: bash
      - name: Detailed test report
        uses: ctrf-io/github-test-reporter@v1
        if: always()
        with:
          report-path: './ctrf/ctrf-report.json'
          github-report: true
          annotate: false
