name: test-feature-branch.yml
run-name: Test Feature Branch

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  quality:
    name: Run unit tests
    runs-on: ubuntu-latest
    permissions:
      checks: write
      id-token: write
      pull-requests: write
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Yarn Prepare
        uses: telicent-oss/shared-workflows/.github/actions/yarn-prepare@main
        with:
          node-version: 20
          additional-args: '--network-timeout 600000'
      - name: Run tests
        run: yarn test
        shell: bash
      - name: Jest Coverage Comment
        uses: ArtiomTr/jest-coverage-report-action@v2.1.2
        id: coverage
        with:
          annotations: none
          package-manager: yarn
          test-script: yarn test
          icons: emoji
