name: test-feature-branch.yml
run-name: Test Feature Branch

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  quality:
    name: Run unit tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      pull-requests: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Yarn Prepare
        uses: telicent-oss/shared-workflows/.github/actions/yarn-prepare@main
        with:
          node-version: 20
          additional-args: '--network-timeout 600000'
      - name: Run tests
        run: yarn test --reporters=default --reporters=jest-ctrf-json-reporter
        shell: bash
      - name: Publish test report in PR comment
        uses: ctrf-io/github-test-reporter@v1
        if: always()
        with:
          report-path: ctrf/ctrf-report.json
          pull-request-report: true
          pull-request: true
          github-report: true
          summary-report: true
          fetch-previous-results: true
          overwrite-comment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - name: Publish coverage in job summary
      #   if: always()
      #   run: npx github-actions-ctrf ctrf/ctrf-report.json
      #   shell: bash
