name: test-feature-branch.yml
run-name: Test Feature Branch

on:
  push:
    branches-ignore:
      - 'main'

jobs:
  quality:
    name: Run unit tests
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Yarn Prepare
        uses: telicent-oss/shared-workflows/.github/actions/yarn-prepare@main
        with:
          node-version: 20
          additional-args: '--network-timeout 600000'
      - name: Get app config from app.config.json
        id: app_config
        run: |
          sudo apt-get install jq
          APP_NAME=$(jq -r '.app_name // error("app_name missing from ./src/app.config.json")' ./src/app.config.json) && \
            echo "app-name=$APP_NAME" >> $GITHUB_OUTPUT && echo "APP_NAME: $APP_NAME"
      - name: Set globals
        id: globals
        shell: bash
        run: |
          echo "coverage-summary-file-path=$COVERAGE_SUMMARY_FILE_PATH" >> $GITHUB_OUTPUT
          echo "coverage-file-path=$COVERAGE_FILE_PATH" >> $GITHUB_OUTPUT
          echo "test-results-file-path=$TEST_RESULTS_FILE_PATH" >> $GITHUB_OUTPUT
          echo "test-results-artifact-name=$TEST_RESULTS_ARTIFACT_NAME" >> $GITHUB_OUTPUT
        env:
          COVERAGE_SUMMARY_FILE_PATH: "${{ runner.temp }}/${{ steps.app_config.outputs.app-name }}.${{ github.run_number }}.coverage.txt"
          COVERAGE_FILE_PATH: "${{ runner.temp }}/${{ steps.app_config.outputs.app-name }}.${{ github.run_number }}.coverage.json"
          TEST_RESULTS_FILE_PATH: "${{ runner.temp }}/${{ steps.app_config.outputs.app-name }}.${{ github.run_number }}.test-results.json"
          TEST_RESULTS_ARTIFACT_NAME: "${{ steps.app_config.outputs.app-name }}.${{ github.run_number }}.test-results"
      - name: Run tests
        run: yarn test --json --output-file ${{ steps.globals.outputs.test-results-file-path }}
        shell: bash
      - name: Run coverage
        run: yarn test --coverage=true --json --output-file ${{ steps.globals.outputs.coverage-file-path }} | tee ${{ steps.globals.outputs.coverage-summary-file-path }}
        shell: bash
      - name: Test results artefact
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.globals.outputs.test-results-artifact-name }}
          path: |
            ${{ steps.globals.outputs.coverage-file-path }}
            ${{ steps.globals.outputs.test-results-file-path }}
      - name: Test results summary
        if: always()
        shell: bash
        run: |
          echo "# Test Coverage Summary" >> $GITHUB_STEP_SUMMARY
          cat ${{ steps.globals.outputs.coverage-summary-file-path }} >> $GITHUB_STEP_SUMMARY
          cat ${{ steps.globals.outputs.coverage-file-path }} >> $GITHUB_STEP_SUMMARY
          echo "# Test Results Summary" >> $GITHUB_STEP_SUMMARY
          cat ${{ steps.globals.outputs.test-results-file-path }} >> $GITHUB_STEP_SUMMARY

