name: vulnerability-scanning.yml
run-name: Vulnerability scanning

permissions:
  actions: read
  contents: write
  id-token: write
  packages: write
  security-events: write

on:
  push:
    branches-ignore:
      - 'main' # A scan is run as part of the publish workflow on main branch, so not required here.
  schedule:
    - cron: '0 9 * * 1-5' # At 09:00 on every day-of-week from Monday through Friday.
  workflow_dispatch:

jobs:
  vuln_scan:
    name: Vulnerability scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Get app config from app.config.json
        id: app_config
        run: |
          sudo apt-get install jq
          APP_NAME=$(jq -r '.app_name // error("app_name missing from ./src/app.config.json")' ./src/app.config.json) && \
            echo "app-name=$APP_NAME" >> $GITHUB_OUTPUT && echo "APP_NAME: $APP_NAME";
      - name: Run vulnerability scanning
        uses: telicent-oss/shared-workflows/.github/actions/trivy-repo-scan@TELDEVOPS-880-update-actions-for-oss
        with:
          app-name: ${{ steps.app_config.outputs.app-name }}
          node-version: 20
          github-token: ${{ secrets.GITHUB_TOKEN }}
